/* showcase styling */
:root {
    --white: #fff;
    --yellow: #ffbe0b;
    --grey: #50514f;
    --montserrat-font: Montserrat;
}
.background-img {
    position: relative;
    height: 100vh;
}
.background-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.img-text {
    font-family: var(--montserrat-font);
    user-select: none;
    position: absolute;
    top: 10%;
    width: 100%;
    color: var(--white); 
}
.img-text h1 {
    font-weight: 700;
    font-size: 68px;
}
.img-text h4 {
    font-weight: 350;

}
.grid-icon {
    color: var(--grey);
}
.play-btn {
    color: var(--white);
    transition: all 500ms;
    
}
.play-btn:hover {
    color: var(--yellow);
    transition: all 500ms;
    transform: scale(1.0);
}
.em-color{
    color: var(--yellow);
}


.section2{
    padding-top: 350px;
    padding-bottom:350px;
    margin:0px 0px 0px 5%;
 
}
.p{
    font-size: 18px;
    font-weight: 500!important;
    color: #6f7581;
}

.div_left_container{
 width: 40%;

}
.right_container{
        width:30%;

    }
.paragrph{
    width:70%;
    margin:2% 0% 5% 0%;
    
    }
.paragrph h2{ 
    font-size: 46px;        
    font-weight: 700;
    font-family: "Montserrat";
    color: #403f52;
    margin-bottom: 70px;
    }
.button{
    font-family: "Montserrat";
    text-align: center;
    line-height: 56px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 36px;
    padding-right: 36px;
    
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #2d1dff;



    /*animation*/
    
    transition-delay:0.1s ;
    transition: 0.1s linear;

    

   
}
.icon-size{
    color: #2d1dff;
    font-size: 38px;
    margin-bottom: 10px;
}

.h{
    font-size: 20px;
    font-weight: 600!important;
    color: #454272;
    margin-top: 20px;
}
.content{
    font-size: 20px;
    
    
    font-family: "Montserrat";
    color: #9c9ab1;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}
.margin-down{
margin-bottom: 30px;
}




    
/*responsive tablet*/


@media only screen and (max-width: 768px) {
    .wrap{
flex-wrap: wrap;
    }
    .div_left_container{
        width: 100%;
        margin-left: 5%;
       margin-bottom: 10%;;
    }
    .paragrph{
        width:80%;
    }
    .right_container{
        margin-left: 5%;
        width:45%;

    }
}
/*responsive mobile*/
@media only screen and (max-width: 360px) {
    .wrap{
        flex-wrap: wrap;
            }
    .div_left_container{
        width: 100%;
        margin-left: 5%;
        margin-bottom: 20%;
    }
    .paragrph{
        margin-bottom: 10%;
    }
    .right_container div{
        margin-left:0px;
        
    }
    .content{
        font-size: 15px;
        margin: 0px 0px 15px 0
    }
}

/*animation button*/

.button:hover{
    text-decoration: none;
    letter-spacing: 2px;
    color: #000000;
    
    
}













/* Media Query for mobile devices support*/
@media (max-width: 375px){
    .img-text h1{
        font-size: 2.5rem;
    }
}

