/* showcase styling */
:root {
    --white: #fff;
    --yellow: #ffbe0b;
    --grey: #50514f;
    --montserrat-font: Montserrat;
}
.background-img {
    position: relative;
    height: 100vh;
}
.background-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.img-text {
    font-family: var(--montserrat-font);
    user-select: none;
    position: absolute;
    top: 10%;
    width: 100%;
    color: var(--white); 
}
.img-text h1 {
    font-weight: 700;
    font-size: 68px;
}
.img-text h4 {
    font-weight: 350;

}
.grid-icon {
    color: var(--grey);
}
.play-btn {
    color: var(--white);
    transition: all 500ms;
    
}
.play-btn:hover {
    color: var(--yellow);
    transition: all 500ms;
    transform: scale(1.0);
}
.em-color{
    color: var(--yellow);
}


.section2{
    padding-top: 350px;
    padding-bottom:350px;
    margin:0px 0px 0px 5%;
 
}
.p{
    font-size: 18px;
    font-weight: 500!important;
    color: #6f7581;
}

.div_left_container{
 width: 50%;

}
.right_container{
        width:30%;

    }
.paragrph{
    width:70%;
    margin:2% 0% 5% 0%;
    
    }
.paragrph h2{ 
    font-size: 46px;        
    font-weight: 700;
    font-family: "Montserrat";
    color: #403f52;
    }
.button{
    font-family: "Montserrat";
    text-align: center;
    line-height: 56px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 36px;
    padding-right: 36px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #2d1dff;
    
   
}
.icon-size{
    color: #2d1dff;
    font-size: 38px;
    margin-bottom: 10px;
}

.h{
    font-size: 20px;
    font-weight: 600!important;
    color: #454272;
    margin-top: 20px;
}
.content{
    font-size: 20px;
    
    
    font-family: "Montserrat";
    color: #9c9ab1;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}
.margin-down{
margin-bottom: 30px;
}


.carousel-inner img {
    width: 360px;
    height: auto;
}










/* Media Query for mobile devices support*/
@media only screen and (min-width: 375px){
    .img-text h1{
        font-size: 2.2rem;
    }
}