* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  *::selection{
      color: white;
      background-color: rgb(250, 104, 78);
  }
  .content {
    background-image:url(imgs/background.png);
}
.container h1 {
font-weight:bold;
font-family: 'Cormorant Garamond', serif;
}
.card {
    padding: 0px 50px 0px 50px;
}
.card img {
    padding-top:60px;
}
.card h2 {
    text-align: center;
    color:#363535;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left:30px;
}
.card p {
    text-align: center;
    color:rgb(146, 143, 143);
    font-size: 15px;
    padding-left: 30px;
}
h4 {
    text-align: center;
    font-size:15px;
}
.text {
    margin:0 auto;
    max-width: 10%;
    position:relative;
    color:rgb(209, 204, 204);;
}
.text:before {
    content:"";
    display:inline-block;
    width:120px;
    height:1px;
    background-color:rgb(209, 204, 204);
    position:absolute;
    right:150px;
    top: 60%;
}
.text:after {
    content:"";
    display:block;
    width:120px;
    height:1px;
    background-color:rgb(209, 204, 204);
    position:absolute;
    left:157px;
    top:60%;
}
.col-rt {
    animation-name: right;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@keyframes right {
    0% {right:35%}
    100% {right:0} 
}
.col-mid {
    animation-name:middle;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@keyframes middle {
    0% {opacity: 0;} 
    100% {opacity: 1;} 
}
.col-lt {
    animation-name: left; 
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@keyframes left {
    0% {left:35%}
    100% {left:0}
}