






    /* Sara */




    /* Sara end */





    /* Shirin */




    
    /* Shirin end */







    /* Ahmed */






    /* Ahmed end */





    
    /* Qays */
    .swiper-container {
        white-space: nowrap;
        overflow: auto;
    }
    .swiper-slide img {
        height: 680px;

        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
      }


    @media screen and (max-width: 1400px) and (min-width: 1025px){
         .swiper-slide img {
        height: 500px;
        }
    }

    @media (max-width: 1024px){
         .swiper-slide img {
            height: 300px;
        }
    }
*{
    font-family: 'Montserrat', sans-serif;

}
    .portfolio-title{
        font-weight: 700;
    font-size: 30px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    }
      
   
    /* Qays end */